body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  z-index: 10;
}

.navbar {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  max-height: 43px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: #ffffffaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #00000011;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  transform: translateY(10px);
}

.logo {
  font-size: 1.25rem;
  text-decoration: none;
  color: #be7b0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #915d0a;
  font-size: 1rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: #be7b0f;
  text-decoration: underline;
}

#hero {
  height: 50vh;
  width: 100%;
  background-image: "images/hero.jpg";
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
